# Virtual Environments
venv/
venv310/

# Uploaded audio files
uploads/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# System files (OS-generated)
.localized
.DS_Store

# IDE/Editor folders (optional)
.vscode/
